.blog {

    // -------------------- Header styles --------------------
    
    .fullbleed {
        background: url(../assets/blog-image-1.jpg);
        background-size: cover;
        position: relative;
    }
    
    h1 {
        padding-top: 44vh;
    }
    
    .article-img {
        width: 55vw;
        margin-top: 3%;
    
        img {
            width: calc(100% - 1rem);
            box-shadow: 2rem 2rem 0 -1rem $box-color;
        }
    }

    // -------------------- Blog article styles --------------------

    .blog-wrapper.flex-row {
        justify-content: space-between;
        flex-direction: row-reverse;

        .wrapper {
            margin: 0;
        }
    }

    .article-text {
        margin-top: 42%;
        padding: 10% 10% 100px 18%;
        border-right: 0.25rem solid $box-color;
        border-bottom: 0.25rem solid $box-color;
        width: 55vw;

        h3 {
            color: $main-color;
            font-style: italic;
            @include content-font(400, 1rem, 1.45rem, 0rem);
        }

        span {
            font-weight: 700;
        }

        p {
            margin: 4% 0;
        }

        p:last-child{
            margin-bottom: 0;
        }
    }

    // -------------------- Side bar styles --------------------
    aside {
        width: 20.5%;
        padding-top: 4.5%;

        h3 {
            color: $main-color;
            margin: 5% 0;
        }

        ul {
            padding-left: 1.5rem;
        }

        li {
            color: $box-color;
            padding-left: 0.5rem;

            span {
                color: black;
            }
        }

        img {
            width: 100%;
        }
    }

    
    // -------------------- Comments style --------------------
    
    article .wrapper {
        h2 {
            color: black;
            margin: 3% 0;
        }

        .flex-row {
            justify-content: flex-start;
            
            .comment-text:nth-child(2) {
                margin-bottom: 4%;
            }
        }
    }

    .comment-text {
        width: 45%;
        margin-left: 2.5%;
        
        h3 {
            color: $main-color;
        }

        p {
            margin: 1% 0;
        }
    }

    @media (max-width: 1535px){

        h1 {
            padding-top: 34vh;
        }
       
        .blog-wrapper.flex-row .wrapper {
            margin: 0 auto;
            padding-top: 8%;
        }

        .article-img {
            display: none;
        }

        .article-text {
            border: 0.25rem solid $box-color;
            margin: 0;
            padding: 5% 9%;
        }

        article .article-text h2 {
            margin-top: 0;
        }

        aside {
            width: 24%;
        }
    }

    @media (max-width: 1325px){
        
        
        aside {
            width: 30%;
            padding-top: 5.75%;
        }

        .main-blog {
            width: 80%;
            margin-right: 5%;
        }

        .blog-wrapper.flex-row .wrapper {
            margin: 0;
            width: 100%;
        }

        
        .article-text {
            width: 100%;
        }
        // the above code applied to classes restores the article text to its most "natural" state

        // ---------- Comments ----------
        article .wrapper .flex-row {
            justify-content: center;
        }

        .comment-text {
            width: 100%;
        }

        .form-wrapper {
            padding: 0;
            margin: 0 auto;
            width: 80%;
        }

        button {
            width: 209px;
        }

    }

    @media (max-width: 909px){

        .blog-wrapper.flex-row {
            flex-direction: column-reverse;
        }

        aside {
            width: 80%;
            margin: 0 auto;
            padding-top: 2%;

            h3 {
                margin: 2% 0;
            }
        }

        aside img,
        aside div:first-of-type {
            display: none;
        }

        .post-wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 0;
            
            li {
                padding: 0;
                flex-basis: 295px;
            }

            li:first-child,
            li:nth-child(2),
            li:nth-child(3) {
                margin-bottom: 2%;
            }

            li:nth-child(2){
                padding-right: 1.75%;
            }
        }

        .main-blog {
            margin: 0 auto;
        }

        article .wrapper h2 {
            margin: 2% 0;
        }
    }

    @media (max-width: 770px){
        aside div:last-child{
            text-align: center;
        }
       
        .post-wrapper {
            justify-content: center;
        }

        .post-wrapper li:first-child, 
        .post-wrapper li:nth-child(2) {
            margin-bottom: 1%;
        }

        .post-wrapper li {
            margin-bottom: 1%;
        }

        article .wrapper h2 {
            text-align: center;
        }
    }

    @media (max-width: 641px){
        aside {
            display: none;
        }

        .main-blog {
            width: 90%;
        }

        .article-text {
            padding: 2.5% 4.5%;
        }

        .form-wrapper {
            width: 90%;
        }

        button{
            width: 200px;
        }

    }
    
    
}