.contact {
    // ***** Header Styles *****
    .fullbleed {
        background: url('../../assets/contact-image-1.jpg');
        background-size: cover;
    }

    header h1 {
        padding-top: 44vh;
    }
    
    section {
        position: relative;
    }
    
    .contact-form {
        position: absolute;
        top: -250px;
        // not relative to anything so that it can retain its % width
        width: 52%;
    }
    
    
    .form-wrapper {
        padding: 5% 5% 3% 5%;
        width: 100%;
        background: white;
        margin-left: 20%;
        box-shadow: 1.5rem 1.5rem 0 -0.5rem $box-color;
    }
    
    
    button {
        margin-bottom: 0;
    }
    
    // ***** Side bar styles *****
    
    .contact-list.flex-row {
        justify-content: flex-end;
        margin-bottom: 5%;
        width: 85%;
    }

    aside {
        min-width: 1%; 
        padding-top: 4%;

        a:hover {
            color: $box-color;
            font-weight: 400;
        }
    }

    aside ul:first-child li {
        padding-right: 2.5%;
    }

    aside p {
        font-weight: 700;
        margin-bottom: 5%;
    }

    aside ul {
        margin-bottom: 5%; 

        li {
            list-style: none;
        }

    }

    aside ul:nth-of-type(1) li{
        display: inline-block;
    }
    
    @media (max-width: 1535px) {

        header h1 {
            padding-top: 34vh;
        }

        .contact-form {
            position: static;
            width: 65%;
            margin: 0 auto;
            margin-top: 2%;
        }

        .form-wrapper {
            margin: 0;
            box-shadow: none;
            border: 3px solid $box-color;
        }
        
        .contact-list.flex-row {
            width: 65%;
            margin: 0 auto;
            margin-bottom: 2%;
            text-align: center;
        }

        aside {
            width: 100%;

            ul {
                margin-bottom: 1%;
            }
        }

        aside p {
            margin-bottom: 1%;
        }

        .contact-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin-right: 2%;
                flex-basis: content;
            }
        }
    }

    @media (max-width: 1325px){
        .contact-form, .contact-list.flex-row {
            width: 80%;
        }
    }

    @media (max-width: 909px){
        .contact-form, .contact-list.flex-row{
            width: 90%;
        }
    }

    @media (max-width: 641px){
        .contact-form {
            width: 95%;
        }
    }

    @media (max-width: 501px){
        .contact-list.flex-row {
            display: none;
        }

        .contact-form {
            width: 98%;
        }

    }
}
