.contact {
    // ***** Header Styles *****
    .fullbleed {
        background: url('../../assets/contact-image-1.jpg');
        background-size: cover;
    }

    header h1 {
        padding-top: 44vh;
    }
    
    //  ***** Form styles *****
    // main .flex-row {
    //     justify-content: space-between;

    //     section {
    //         position: relative;
    //     }

    //     form {
    //         position: absolute;
    //         width: 900px;
    //         // position: relative;
    //         bottom: 100px;
    //     }
    // }

    
    section {
        position: relative;
    }
    
    .contact-form {
        position: absolute;
        top: -250px;
        // not relative to anything so that it can retain its % width
        max-width: 100%;
    }
    
    
    .form-wrapper {
        padding: 5% 5% 3% 5%;
        width: 100%;
        background: white;
        margin-left: 20%;
        box-shadow: 1.5rem 1.5rem 0 -0.5rem $box-color;
    }
    
    
    button {
        margin-bottom: 0;
    }
    
    // ***** Side bar styles *****
    
    .contact-list.flex-row {
        justify-content: flex-end;
        margin-bottom: 5%;
        width: 85%;
    }

    aside {
        min-width: 15%; 
        padding-top: 4%;
    }

    aside ul:first-child li {
        padding-right: 2.5%;
    }

    aside p {
        font-weight: 700;
        margin-bottom: 5%;
    }

    aside ul {
        margin-bottom: 5%; 

        li {
            list-style: none;
        }

    }

    aside ul:nth-of-type(1) li{
        display: inline-block;
    }


}