.index header {

    .fullbleed {
        background: url(../../assets/home-image-1.jpg);
        background-size: cover;
    }

    .wrapper {
        position: relative;
    }
    
    h1 {
        padding-top: 36vh;
        padding-left: 30vw;
        position: relative;
        z-index: 10;
        
        span {
            display: block;
            line-height: 5rem;
            text-transform: capitalize;
        }
    }

    .img-wrap {
        // position: absolute;
        // top: 29%;
        position: relative;
        bottom: 36%;
        width: 45.5%;
        
        img {
            width: 100%;
            
        }
    }
    
    @media (max-width: 1535px){

        .fullbleed {
            height: 100vh;
        }
       
        h1 {
            padding-top: 34vh;
            padding-left: 6vw;
            align-self: center;
            // adjusted to 955px
        }
    
        .img-wrap {
            display: none;
        }
    }

    @media (max-width: 956px){
        h1 {
            padding-left: 0;
        }
        
        nav h2 {
            display: none;
        }

        nav .flex-row {
            justify-content: center;
        }
    }

    @media (max-width: 751px){
        h1 {
            font-size: 2.5rem;
            text-align: center;
            // 3.1rem

            span {
                font-size: 4rem;
                // 5rem
            }
        }
    }
}


// ***** FOOTER STYLES *****

footer {
    background: #2a2a2a;

    p {
        padding: 0.5% 0;
    }
}