.index header {

    .fullbleed {
        background: url(../../assets/home-image-1.jpg);
        background-size: cover;
    }

    .wrapper {
        position: relative;
    }
    
    h1 {
        padding-top: 36vh;
        padding-left: 26vw;
        position: relative;
        z-index: 10;
        
        span {
            display: block;
            line-height: 5rem;
            text-transform: capitalize;
        }
    }

    nav .burger {
        display: none;
    }

    .img-wrap {
        position: relative;
        bottom: 30%;
        // width: 45.5%;
        width: 42%;     
        
        img {
            width: 100%;
            
        }
    }
    
    @media (max-width: 1535px){

        .fullbleed {
            height: 100vh;
        }
       
        h1 {
            padding-top: 34vh;
            padding-left: 6vw;
            align-self: center;
            // adjusted to 955px
        }
    
        .img-wrap {
            display: none;
        }
    }

    @media (max-width: 956px){
        h1 {
            padding-left: 0;
        }
        
        nav h2 {
            display: none;
        }

        nav .flex-row {
            justify-content: center;
        }
    }

    @media (max-width: 751px){

        h1 {
            font-size: calc(4rem * (3.1 / 5));
            text-align: center;
            // 3.1rem original font size

            span {
                font-size: 4rem;
                line-height: 0.5;
                // optimized for 640px
                // 5rem original font size
            }
        }
    }

    @media (max-width: 641px){

        h1 {
            font-size: calc(2.8rem * (3.1 / 5));
            line-height: 1.2;

            span {
                font-size: 2.8rem;
            }
        }

        nav .flex-row {
            justify-content: flex-end;
        }

        nav li{
            margin-right: 0;
        }

        nav li a {
            display: none;
        }

        nav li .burger {
            display: block;
            margin-right: 0;
        }

        nav img {
            width: 80%;
        }
    }

    @media (max-width: 421px){

        h1 {
            font-size: calc(2.1rem * (3.1 / 5));

            span {
                font-size: 2.1rem;
            }
        }
    }
}


// ***** FOOTER STYLES *****

footer {
    background: #2a2a2a;

    p {
        padding: 0.5% 0;
    }
}