.index header {

    position: relative;

    .fullbleed {
        background: url(../assets/home-image-1.jpg);
        background-size: cover;
    }
    
    h1 {
        padding-top: 36vh;
        padding-left: 26vw;
        position: relative;
        z-index: 10;
        
        span {
            display: block;
            line-height: 5rem;
            text-transform: capitalize;
        }
    }

    .img-wrap {
        position: absolute;
        top: 37.5%;
        width: 40%;      
        min-height: 695px;
        // height: 30vh;
        
        img {
            width: 100%;
            
        }
    }
    
    @media (max-width: 1535px){
       
        h1 {
            padding-top: 25vh;
            padding-left: 6vw;
            align-self: center;
        }
    
        .img-wrap {
            display: none;
        }
    }

    @media (max-width: 956px){
        h1 {
            padding-left: 0;
            // text-align: center;
            font-size: calc(4rem * (3.1 / 5));

            span {
                font-size: 4rem;
                line-height: 2rem;
            }
        }
    }

    @media (max-width: 741px){

        h1 {
            font-size: calc(3.1rem * (3.1 / 5));
            padding-top: 28vh;
            text-align: center;
            // original font-size 3.1rem

            span {
                font-size: 3.1rem; //56px
                line-height: 0.25;
                // original font-size 5rem
            }
        }
    }

    @media (max-width: 501px){

        h1 {
            font-size: calc(2.5rem * (3.1 / 5));
            // original font size 3.1rem

            span {
                font-size: 2.5rem; //40px
                line-height: 0;
                // original font size 5rem
            }
        }
    }
}

// -------------------- FOOTER STYLES --------------------

footer {
    background: #2a2a2a;

    p {
        padding: 0.5% 0;
    }
}