//-------------------- Visit Guyana Section --------------------

.visit {
    padding-top: 6%;

    .wrapper {
        padding-top: 175px;
        padding-bottom: 7%;
    }

    .text-wrapper {
        flex-basis: 60%;
    }

    .flex-row {
        justify-content: space-between;
    }

    p {
        margin-top: 1.5%;
        margin-bottom: 2.2%;
    }

    .img-wrap {
        width: 21%;
        
        img {
            width: 100%;
            box-shadow: -1rem 1rem $box-color;
        }
    }

    @media (max-width: 1636px){
        .img-wrap {
            width: 24%;
        }
    }

    @media (max-width: 1535px){
        padding-top: 0;

        .wrapper {
            padding-top: 7%;
            padding-bottom: 6.5%;
        }
    }

    @media (max-width: 1444px){
        .img-wrap {
            flex-basis: 29%;
        }

        .text-wrapper {
            flex-basis: 65%;
        }
    }

    @media (max-width: 1325px){

        .flex-row {
            padding: 3.5% 0;
        }

        p {
            margin-bottom: 3.2%;
        }

    }

    @media (max-width: 928px){

        .wrapper {
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .flex-row {
            flex-direction: column-reverse;
            align-items: center;
        }

        .img-wrap {
            width: 40%;
        }
        
        .text-wrapper {
            flex-basis: 100%;
            margin-top: 4%;
        }
    
        .text-wrapper button {
            min-width: 40%;
            padding: 1.5%;
        }

        p {
            margin-top: 0;
            margin-bottom: 2.5%;
        }
    }

    @media (max-width: 741px){

        .wrapper {
            padding-top: 3%;
            padding-bottom: 3%;
        }

        .img-wrap {
            width: 80%;
        }

        .text-wrapper {
            width: 85%;
        }
    }
    
    @media (max-width: 501px){

        .img-wrap,
        .text-wrapper {
            width: 100%;

            img {
                box-shadow: none;
            }
        }

        .text-wrapper {
            margin-top: 2%;
        }

        .text-wrap {
            width: 100%;
        }
    }
}

// -------------------- Gallery Section --------------------

.gallery {

    .wrapper {
        padding: 7% 0;
    }

    @media (max-width: 1444px){
        .wrapper {
            padding: 5% 0;
        }    
    }

    
    .galleryItem {
        width: calc((100% - 8%) / 3);
    }
    
    .galleryItem:nth-child(2){
        margin: 0 4%;
    }
    
    img {
        width: 100%;
    }
    
    @media (max-width: 1325px){

        .wrapper {
            padding: 3.5% 0;
        }

        .galleryItem:nth-child(2){
            margin: 0 2.5%;
        }
    }

    @media (max-width: 928px){

        .wrapper {
            padding: 5% 0;
        }        
        
        .wrapper.flex-row{
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }

        .galleryItem {
            width: 40%;
        }

        .galleryItem:nth-child(2){
            margin: 4% 0;
        }

        .galleryItem:nth-child(3){
            margin: 0;
        }
    }

    @media (max-width: 741px){
        .galleryItem {
            width: 80%;
        }
    }

    @media (max-width: 501px){
        .galleryItem {
            width: 100%;
        }
    }

}

// -------------------- Section with the blocks of text --------------------

.text-section {

    .wrapper {
        padding: 7% 0;
    }
    
    h2 {
        @include content-font(600, 1.5rem, 2.9rem, 0.16rem);
    }

    i {
        background-color: $box-color;
        border-radius: 50%;
        color: white;
        font-size: 1.4rem;
        margin-right: 3%;
        align-self: flex-start;
        // flex-basis: 8%;
        flex-basis: fit-content;
    }

    .text-box {
        width: 50%;
    }

    .text-box.flex-row{

        
        .flex-column {
            flex-basis: 90%;
        }
    }

    .text-top {
        margin-bottom: 4%;
    }

    .text-top .text-box:first-child i {
        // padding: 1.5% 1.3%;
        padding: 0.45rem 0.35rem;
    }
    .text-top .text-box:last-child i {
        // padding: 1.5% 1%;
        padding: 0.4rem 0.3rem;
    }

    .text-bottom .text-box:first-child i {
        // padding: 1.25% 0% 1.25% 2.25%;
        padding: 0.4rem 0.5rem 0.4rem 0.6rem;
    }

    .text-bottom .text-box:last-child i {
        // padding: 1.5%;
        padding: 0.4rem;
    }

    @media (max-width: 1325px){
        .wrapper {
            padding: 3.5% 0;
        }
    }

    @media (max-width: 928px){
        .text-box {
            width: 75%;
            margin-bottom: 2%;
        }

        .text-top .text-box:last-child,
        .text-bottom .text-box:last-child {
            margin-bottom: 0;
        }

        .text-top.flex-row,
        .text-bottom.flex-row {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @media (max-width: 741px){
        .text-box {
            width: 90%;
        }
    }

    @media (max-width: 501px){
        .text-box {
            width: 100%;
        }
    }

}

// -------------------- Section with 50/50 Img and Txt --------------------

.text-gallery {

    h2 {
        color: $main-color;
    }

    .text-gallery-item {
        width: 40%;
    }

    img {
        width: 100%;
    }

    button {
        margin-top: 2%;
    }

    .flex-row {
        flex-wrap: wrap;
        justify-content: space-between;
        
        .text-wrap p {
            margin: 3% 0;
            width: 70%;
        }

    }

    .position-top {
        position: relative;
        bottom: 50px;

        .img-wrap img {
            box-shadow: 1.5rem 1.5rem 0 -0.5rem $box-color;
        }
        
        .text-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;    

            .flex-column {
                align-items: flex-start;    
            }
        }
    }

    .position-bottom {
        position: relative;
        top: 50px;

        .img-wrap img {
            box-shadow: -1.5rem 1.5rem 0 -0.5rem $box-color;
        }

        .text-wrap {
            text-align: right;
            .flex-column {
                align-items: flex-end;
            }
        }
    }

    @media (max-width: 1636px){
        .position-bottom {
            top: 0;

            .text-gallery-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .position-top {
            bottom: 0;
            margin-bottom: 1%;
        }
    }

    @media (max-width: 1444px){
        .flex-row .text-wrap p {
            margin: 0;
        }

        button {
            margin-top: 1%;
        }
    }

    @media (max-width: 1325px){

        .position-top {
            padding-top: 3.5%;

            button {
                margin-bottom: 3%;
            }
        }

        .position-bottom {
            padding-bottom: 3.5%;
        }

        .position-top.flex-row,
        .position-bottom.flex-row {
            flex-direction: column;
            align-items: center;
        }

        .position-bottom.flex-row{
            flex-direction: column-reverse;
        }

        .position-bottom .text-wrap {
            text-align: left;

            .flex-column {
                align-items: flex-start;
            }
        }

        .text-gallery-item {
            width: 100%;
        }

        .text-gallery-item .flex-column {
            margin-top: 6%;
            // margin-bottom: 2%;

            p {
                width: 100%;
            }
        }

        button {
            margin-top: 2%;
        }
    }
}

// -------------------- FREE TRIP SECTION --------------------
.free-trip {

    img {
        width: 100%;
        height: 100%;
    }

    .text-wrap {
        text-align: center;
        padding: 7% 0;
        margin: 0 auto;

        p {
            margin: 0.5% 0;
        }

        button{
            margin-top: 1%;
        }
    }

    @media (max-width: 1325px){
        .text-wrap {
            padding: 3.5% 0;
        }
    }

    @media (max-width: 928px){
        .text-wrap{
            width: 100%;
        }
    }

    @media (max-width: 430px){
        .text-wrap {
            width: 100%;
        }

        .text-wrap h2 {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 365px){
        .text-wrap h2 {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
}
