* {
    margin: 0;
    padding: 0;
}

html{
    @include content-font(400, 125%, 1.6rem, 0.1rem);
    // font-size: 20px;
}

@media (max-width: 741px){
    html {
        font-size: 112.5%;
    }
}

@media (max-width: 501px){
    html {
        font-size: 100%;
    }
}


.fullbleed {
    height: 85vh;
}

.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}


@media (max-width: 741px){
    
    .wrapper {
        width: 90%;
    }
}


.flex-row {
    display:flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.visit,
.text-section,
.free-trip,
.blog,
.contact {
    background: $light-background;
}

.gallery, 
.text-gallery {
    background: $color-background;
}

fieldset {
    padding: 0;
    border: none;
}

footer {
    background: black;
    text-align: center;
}

h2 {
    @include content-font(600, 1.75rem, 2.9rem, 0.19rem);
    color: $alt-color;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

form {
    input::placeholder,
    textarea::placeholder {
        @include content-font(300, 1rem, 1.6rem, 0.1rem);
    }
}

footer,
button {
    color: white;
}

button {
    @include title-font(1rem);
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
    background: $main-color;
    border: none;
    padding: 10px 15px;
}

a {
    transition: color 0.25s ease-in,
}

aside a:hover {
    color: $box-color;
}

header {

    nav {
        padding-top: 4vh;


        a:hover {
            color: $box-color;
        }
    }

    .burger:hover,
    .close-nav:hover {
        cursor: pointer;
    }

    .flex-row {
        align-items: flex-end;
        justify-content: space-between;
    }

    h1 {
        @include content-font (600, 3.1rem, 2.9rem, 0.335rem);
        color: $alt-color;
    }

    span {
        @include title-font(5.56rem);
        color: $main-color;
    }
        
    nav label,
    nav input {
        display: none;
    }
}
    @media (max-width: 928px){
        nav h2 {
                display: none;
            }

        nav .flex-row {
            justify-content: center;
        }

        .blog h1,
        .contact h1 {
            text-align: center;
        }
    }

    @media (max-width: 741px){


        nav .flex-row {
            display: none;
        }

        //------------------------ hamburger nav bar ------------------------

    }

.blog h1,
.contact h1 {
    @include content-font(600, 4.35rem, 2.9rem, 0.45rem);
    color: white;
}

header nav {
    h2 {
        @include title-font(1.73rem);
        color: $box-color;
        line-height: 1.6rem;
    }

    ul {
        @include content-font(600, 1rem, 1.45rem, 0.05rem);

        li {
            display: inline-block;
            margin-right: 1.5rem;
            list-style: none;
            text-transform: uppercase;
            color: white;
        }
    }
}

// -------------------- Form styling for the last 2 pages --------------------
.form-wrapper {
        width: 55.75%;
        padding-left: 10%;
    }

    fieldset {

        #name,
        #email,
        textarea {
            margin-bottom: 5%;
        }

        #name,
        #email {
            border: none;
            border-bottom: 0.125rem solid $box-color;
            padding-bottom: 3.5%;
            padding-left: 3.5%;
            transition: 1 border ease-in;
        }

        .visuallyhidden,
        #name,
        #email {
            width: 46%;
        }

        textarea {
            width: 100%;
            border: none;
            border: 0.125rem solid $box-color;
            padding-top: 3.5%;
            padding-left: 3.5%;
            resize: none;
        }

        button {
            width: 100%;
            margin-bottom: 10%;
        }
    }

    fieldset.flex-row {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // ---------- Side bar styling for last 2 pages ----------

   
