// -------------------- Fonts --------------------
$title-font: 'Playfair Display SC', serif;
$content-font: 'Lato', sans-serif;

@mixin title-font ($font-size){
    font-family: $title-font;
    font-size: $font-size;
    font-style: italic;
    font-weight: 700;
}

@mixin content-font ($font-weight, $font-size, $line-height, $letter-spacing){
    font-family: $content-font;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

// -------------------- Color --------------------
$light-background: #fafffe;
$color-background: #d2f9f1;

$main-color: #063974;
$alt-color: #0c5f4c;

$box-color: #50e3c2;