article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 125%;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

@media (max-width: 641px) {
  html {
    font-size: 112.5%; } }

@media (max-width: 501px) {
  html {
    font-size: 100%; } }

.fullbleed {
  height: 85vh; }

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; }

@media (max-width: 641px) {
  .wrapper {
    width: 90%; } }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.visit,
.text-section,
.free-trip,
.blog,
.contact {
  background: #fafffe; }

.gallery,
.text-gallery {
  background: #d2f9f1; }

fieldset {
  padding: 0;
  border: none; }

footer {
  background: black;
  text-align: center; }

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.9rem;
  letter-spacing: 0.19rem;
  color: #0c5f4c; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }

img {
  display: block; }

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

form input::placeholder,
form textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

footer,
button {
  color: white; }

button {
  font-family: "Playfair Display SC", serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  background: #063974;
  border: none;
  padding: 10px 15px; }

header nav {
  padding-top: 4vh; }

header .flex-row {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

header h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 3.1rem;
  line-height: 2.9rem;
  letter-spacing: 0.335rem;
  color: #0c5f4c; }

header span {
  font-family: "Playfair Display SC", serif;
  font-size: 5.56rem;
  font-style: italic;
  font-weight: 700;
  color: #063974; }

header nav .burger {
  display: none; }

@media (max-width: 956px) {
  nav h2 {
    display: none; }
  nav .flex-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .blog h1,
  .contact h1 {
    text-align: center; } }

@media (max-width: 641px) {
  nav .flex-row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  nav li {
    margin-right: 0; }
  nav li a {
    display: none; }
  nav li .burger {
    display: block;
    margin-right: 0; }
  nav img {
    width: 80%; } }

.blog h1,
.contact h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 4.35rem;
  line-height: 2.9rem;
  letter-spacing: 0.45rem;
  color: white; }

header nav h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 1.73rem;
  font-style: italic;
  font-weight: 700;
  color: #50e3c2;
  line-height: 1.6rem; }

header nav ul {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem; }
  header nav ul .off-color {
    color: #50e3c2; }
  header nav ul li {
    display: inline-block;
    margin-right: 1.5rem;
    list-style: none;
    text-transform: uppercase;
    color: white; }

.form-wrapper {
  width: 55.75%;
  padding-left: 10%; }

fieldset #name,
fieldset #email,
fieldset textarea {
  margin-bottom: 5%; }

fieldset #name,
fieldset #email {
  border: none;
  border-bottom: 0.125rem solid #50e3c2;
  padding-bottom: 3.5%;
  padding-left: 3.5%; }

fieldset .visuallyhidden,
fieldset #name,
fieldset #email {
  width: 46%; }

fieldset textarea {
  width: 100%;
  border: none;
  border: 0.125rem solid #50e3c2;
  padding-top: 3.5%;
  padding-left: 3.5%;
  resize: none; }

fieldset button {
  width: 100%;
  margin-bottom: 10%; }

fieldset.flex-row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.index header .fullbleed {
  background: url(../../assets/home-image-1.jpg);
  background-size: cover; }

.index header .wrapper {
  position: relative; }

.index header h1 {
  padding-top: 36vh;
  padding-left: 26vw;
  position: relative;
  z-index: 10; }
  .index header h1 span {
    display: block;
    line-height: 5rem;
    text-transform: capitalize; }

.index header .img-wrap {
  position: relative;
  bottom: 29.5%;
  width: 42%; }
  .index header .img-wrap img {
    width: 100%; }

@media (max-width: 1535px) {
  .index header h1 {
    padding-top: 34vh;
    padding-left: 6vw;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .index header .img-wrap {
    display: none; } }

@media (max-width: 956px) {
  .index header h1 {
    padding-left: 0; } }

@media (max-width: 751px) {
  .index header h1 {
    font-size: calc(4rem * (3.1 / 5));
    text-align: center; }
    .index header h1 span {
      font-size: 4rem;
      line-height: 0.5; } }

@media (max-width: 641px) {
  .index header h1 {
    font-size: calc(3.1rem * (3.1 / 5));
    padding-top: 28vh; }
    .index header h1 span {
      font-size: 3.1rem;
      line-height: 0.25; } }

@media (max-width: 501px) {
  .index header h1 {
    font-size: calc(2.625rem * (3.1 / 5)); }
    .index header h1 span {
      font-size: 2.625rem;
      line-height: 0; } }

footer {
  background: #2a2a2a; }
  footer p {
    padding: 0.5% 0; }

.visit {
  padding-top: 6%; }
  .visit .wrapper {
    padding-top: 9%;
    padding-bottom: 7%; }
  .visit .text-wrapper {
    width: 60%; }
  .visit .flex-row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .visit p {
    margin-top: 1.5%;
    margin-bottom: 2.2%; }
  .visit .img-wrap {
    width: 21%; }
    .visit .img-wrap img {
      width: 100%;
      -webkit-box-shadow: -1rem 1rem #50e3c2;
      box-shadow: -1rem 1rem #50e3c2; }
  @media (max-width: 1636px) {
    .visit .img-wrap {
      width: 24%; } }
  @media (max-width: 1535px) {
    .visit {
      padding-top: 0; }
      .visit .wrapper {
        padding-top: 7%;
        padding-bottom: 6.5%; } }
  @media (max-width: 1444px) {
    .visit .img-wrap {
      width: 29%; } }
  @media (max-width: 1325px) {
    .visit .flex-row {
      padding: 8% 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .visit p {
      margin-bottom: 3.2%; }
    .visit .text-wrapper {
      margin-top: 6%;
      width: 54%;
      margin: 0 auto;
      margin-top: 5%; }
    .visit .img-wrap {
      width: 50%;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }
  @media (max-width: 901px) {
    .visit .wrapper {
      padding-top: 5%;
      padding-bottom: 5%; }
    .visit .img-wrap {
      width: 65%; }
    .visit .text-wrapper {
      width: 70%; }
    .visit .text-wrapper button {
      min-width: 40%;
      padding: 1.5%; }
    .visit p {
      margin-top: 0;
      margin-bottom: 2.5%; } }
  @media (max-width: 641px) {
    .visit .wrapper {
      padding-top: 3%;
      padding-bottom: 3%; }
    .visit .img-wrap {
      width: 80%; }
    .visit .text-wrapper {
      width: 90%; } }
  @media (max-width: 501px) {
    .visit .img-wrap {
      width: 100%; }
      .visit .img-wrap img {
        -webkit-box-shadow: none;
        box-shadow: none; }
    .visit .text-wrapper {
      text-align: center; }
    .visit .text-wrap {
      width: 100%; } }

.gallery .wrapper {
  padding: 7% 0; }

@media (max-width: 1444px) {
  .gallery .wrapper {
    padding: 5% 0; } }

.gallery .galleryItem {
  width: calc((100% - 8%) / 3); }

.gallery .galleryItem:nth-child(2) {
  margin: 0 4%; }

.gallery img {
  width: 100%; }

@media (max-width: 1325px) {
  .gallery .wrapper.flex-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .gallery .galleryItem {
    width: calc((100% - 8%) / 2); }
  .gallery .galleryItem:nth-child(3) {
    margin: 0 auto;
    margin-top: 4%; } }

@media (max-width: 901px) {
  .gallery .wrapper.flex-row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .gallery .galleryItem {
    width: 65%; }
  .gallery .galleryItem:nth-child(2) {
    margin: 4% 0; }
  .gallery .galleryItem:nth-child(3) {
    margin: 0; } }

@media (max-width: 641px) {
  .gallery .galleryItem {
    width: 80%; } }

@media (max-width: 501px) {
  .gallery .galleryItem {
    width: 100%; } }

.text-section .wrapper {
  padding: 7% 0; }

.text-section h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.9rem;
  letter-spacing: 0.16rem; }

.text-section i {
  background-color: #50e3c2;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 3%; }

.text-section .text-box {
  width: 50%; }

.text-section .text-box.flex-row i {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.text-section .text-box.flex-row .flex-column {
  width: 90%; }

.text-section .text-top {
  margin-bottom: 4%; }

.text-section .text-top .text-box:first-child i {
  padding: 1.5% 1.3%; }

.text-section .text-top .text-box:last-child i {
  padding: 1.5% 1%; }

.text-section .text-bottom .text-box:first-child i {
  padding: 1.5% 2.1%; }

.text-section .text-bottom .text-box:last-child i {
  padding: 1.5%; }

@media (max-width: 901px) {
  .text-section .text-box {
    width: 75%;
    margin-bottom: 2%; }
  .text-section .text-top .text-box:last-child,
  .text-section .text-bottom .text-box:last-child {
    margin-bottom: 0; }
  .text-section .text-top.flex-row,
  .text-section .text-bottom.flex-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 641px) {
  .text-section .text-box {
    width: 90%; } }

@media (max-width: 501px) {
  .text-section .text-box {
    width: 100%; } }

.text-gallery h2 {
  color: #063974; }

.text-gallery .text-gallery-item {
  width: 40%; }

.text-gallery img {
  width: 100%; }

.text-gallery button {
  margin-top: 2%; }

.text-gallery .flex-row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .text-gallery .flex-row .text-wrap p {
    margin: 3% 0;
    width: 70%; }

.text-gallery .position-top {
  position: relative;
  bottom: 50px; }
  .text-gallery .position-top .img-wrap img {
    -webkit-box-shadow: 1.5rem 1.5rem 0 -0.5rem #50e3c2;
    box-shadow: 1.5rem 1.5rem 0 -0.5rem #50e3c2; }
  .text-gallery .position-top .text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .text-gallery .position-top .text-wrap .flex-column {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }

.text-gallery .position-bottom {
  position: relative;
  top: 50px; }
  .text-gallery .position-bottom .img-wrap img {
    -webkit-box-shadow: -1.5rem 1.5rem 0 -0.5rem #50e3c2;
    box-shadow: -1.5rem 1.5rem 0 -0.5rem #50e3c2; }
  .text-gallery .position-bottom .text-wrap {
    text-align: right; }
    .text-gallery .position-bottom .text-wrap .flex-column {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }

@media (max-width: 1636px) {
  .text-gallery .position-bottom {
    top: 0; }
    .text-gallery .position-bottom .text-gallery-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .text-gallery .position-top {
    bottom: 0;
    margin-bottom: 1%; } }

@media (max-width: 1444px) {
  .text-gallery .flex-row .text-wrap p {
    margin: 0; }
  .text-gallery button {
    margin-top: 1%; } }

@media (max-width: 1325px) {
  .text-gallery .position-top {
    padding-top: 3%; }
  .text-gallery .position-bottom {
    padding-bottom: 3%; }
  .text-gallery .position-top.flex-row,
  .text-gallery .position-bottom.flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .text-gallery .position-bottom.flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .text-gallery .position-bottom .text-wrap {
    text-align: left; }
    .text-gallery .position-bottom .text-wrap .flex-column {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
  .text-gallery .text-gallery-item {
    width: 50%; }
  .text-gallery .text-gallery-item .flex-column {
    margin-top: 6%;
    margin-bottom: 2%; }
    .text-gallery .text-gallery-item .flex-column p {
      width: 100%; }
  .text-gallery button {
    margin-top: 2%; } }

@media (max-width: 909px) {
  .text-gallery .text-gallery-item {
    width: 65%; } }

@media (max-width: 641px) {
  .text-gallery .text-gallery-item {
    width: 80%; } }

@media (max-width: 501px) {
  .text-gallery .text-gallery-item {
    width: 90%; }
  .text-gallery .position-top .text-wrap {
    text-align: center; }
    .text-gallery .position-top .text-wrap .flex-column {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .text-gallery .position-top .img-wrap img {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .text-gallery .position-bottom .text-wrap {
    text-align: center; }
    .text-gallery .position-bottom .text-wrap .flex-column {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.free-trip img {
  width: 100%; }

.free-trip .text-wrap {
  text-align: center;
  padding: 7% 0;
  width: 55%;
  margin: 0 auto; }
  .free-trip .text-wrap p {
    margin: 0.5% 0; }
  .free-trip .text-wrap button {
    margin-top: 1%; }

@media (max-width: 909px) {
  .free-trip .text-wrap {
    width: 65%; }
  .free-trip div:first-child {
    display: none; } }

@media (max-width: 774px) {
  .free-trip .text-wrap {
    width: 80%; } }

@media (max-width: 571px) {
  .free-trip .text-wrap {
    width: 90%; } }

@media (max-width: 507px) {
  .free-trip .text-wrap {
    width: 95%; } }

@media (max-width: 430px) {
  .free-trip .text-wrap {
    width: 100%; }
  .free-trip .text-wrap h2 {
    font-size: 1.5rem; } }

@media (max-width: 365px) {
  .free-trip .text-wrap h2 {
    font-size: 1.2rem; } }

.blog .fullbleed {
  background: url(../../assets/blog-image-1.jpg);
  background-size: cover;
  position: relative; }

.blog h1 {
  padding-top: 44vh; }

.blog .article-img {
  width: 55vw;
  margin-top: 3%; }
  .blog .article-img img {
    width: calc(100% - 1rem);
    -webkit-box-shadow: 2rem 2rem 0 -1rem #50e3c2;
    box-shadow: 2rem 2rem 0 -1rem #50e3c2; }

.blog .blog-wrapper.flex-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .blog .blog-wrapper.flex-row .wrapper {
    margin: 0; }

.blog .article-text {
  margin-top: 42%;
  padding: 10% 10% 100px 18%;
  border-right: 0.25rem solid #50e3c2;
  border-bottom: 0.25rem solid #50e3c2;
  width: 55vw; }
  .blog .article-text h3 {
    color: #063974;
    font-style: italic;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.45rem;
    letter-spacing: 0rem; }
  .blog .article-text span {
    font-weight: 700; }
  .blog .article-text p {
    margin: 4% 0; }
  .blog .article-text p:last-child {
    margin-bottom: 0; }

.blog aside {
  width: 20.5%;
  padding-top: 4.5%; }
  .blog aside h3 {
    color: #063974;
    margin: 5% 0; }
  .blog aside ul {
    padding-left: 1.5rem; }
  .blog aside li {
    color: #50e3c2;
    padding-left: 0.5rem; }
    .blog aside li span {
      color: black; }
  .blog aside img {
    width: 100%; }

.blog article .wrapper h2 {
  color: black;
  margin: 3% 0; }

.blog article .wrapper .flex-row {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .blog article .wrapper .flex-row .comment-text:nth-child(2) {
    margin-bottom: 4%; }

.blog .comment-text {
  width: 45%;
  margin-left: 2.5%; }
  .blog .comment-text h3 {
    color: #063974; }
  .blog .comment-text p {
    margin: 1% 0; }

@media (max-width: 1535px) {
  .blog h1 {
    padding-top: 34vh; }
  .blog .blog-wrapper.flex-row .wrapper {
    margin: 0 auto;
    padding-top: 8%; }
  .blog .article-img {
    display: none; }
  .blog .article-text {
    border: 0.25rem solid #50e3c2;
    margin: 0;
    padding: 5% 9%; }
  .blog article .article-text h2 {
    margin-top: 0; }
  .blog aside {
    width: 24%; } }

@media (max-width: 1325px) {
  .blog aside {
    width: 30%;
    padding-top: 5.75%; }
  .blog .main-blog {
    width: 80%;
    margin-right: 5%; }
  .blog .blog-wrapper.flex-row .wrapper {
    margin: 0;
    width: 100%; }
  .blog .article-text {
    width: 100%; }
  .blog article .wrapper .flex-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .blog .comment-text {
    width: 100%; }
  .blog .form-wrapper {
    padding: 0;
    margin: 0 auto;
    width: 80%; }
  .blog button {
    width: 209px; } }

@media (max-width: 909px) {
  .blog .blog-wrapper.flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .blog aside {
    width: 80%;
    margin: 0 auto;
    padding-top: 2%; }
    .blog aside h3 {
      margin: 2% 0; }
  .blog aside img,
  .blog aside div:first-of-type {
    display: none; }
  .blog .post-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0; }
    .blog .post-wrapper li {
      padding: 0;
      -ms-flex-preferred-size: 295px;
      flex-basis: 295px; }
    .blog .post-wrapper li:first-child,
    .blog .post-wrapper li:nth-child(2) {
      margin-bottom: 2%; }
    .blog .post-wrapper li:nth-child(2) {
      padding-right: 1.75%; }
  .blog .main-blog {
    margin: 0 auto; }
  .blog article .wrapper h2 {
    margin: 2% 0; } }

@media (max-width: 770px) {
  .blog aside div:last-child {
    text-align: center; }
  .blog .post-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .blog .post-wrapper li:first-child,
  .blog .post-wrapper li:nth-child(2) {
    margin-bottom: 1%; }
  .blog .post-wrapper li {
    margin-bottom: 1%; }
  .blog article .wrapper h2 {
    text-align: center; } }

@media (max-width: 641px) {
  .blog aside {
    display: none; }
  .blog .main-blog {
    width: 90%; }
  .blog .article-text {
    padding: 2.5% 4.5%; }
  .blog .form-wrapper {
    width: 90%; }
  .blog button {
    width: 200px; } }

.contact .fullbleed {
  background: url("../../assets/contact-image-1.jpg");
  background-size: cover; }

.contact header h1 {
  padding-top: 44vh; }

.contact section {
  position: relative; }

.contact .contact-form {
  position: absolute;
  top: -250px;
  max-width: 100%; }

.contact .form-wrapper {
  padding: 5% 5% 3% 5%;
  width: 100%;
  background: white;
  margin-left: 20%;
  -webkit-box-shadow: 1.5rem 1.5rem 0 -0.5rem #50e3c2;
  box-shadow: 1.5rem 1.5rem 0 -0.5rem #50e3c2; }

.contact button {
  margin-bottom: 0; }

.contact .contact-list.flex-row {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 5%;
  width: 85%; }

.contact aside {
  min-width: 15%;
  padding-top: 4%; }

.contact aside ul:first-child li {
  padding-right: 2.5%; }

.contact aside p {
  font-weight: 700;
  margin-bottom: 5%; }

.contact aside ul {
  margin-bottom: 5%; }
  .contact aside ul li {
    list-style: none; }

.contact aside ul:nth-of-type(1) li {
  display: inline-block; }

/*# sourceMappingURL=main.css.map */