article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 125%;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

.fullbleed {
  height: 85vh; }

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.visit,
.text-section,
.free-trip,
.blog,
.contact {
  background: #fafffe; }

.gallery,
.text-gallery {
  background: #d2f9f1; }

fieldset {
  padding: 0;
  border: none; }

footer {
  background: black;
  text-align: center; }

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.9rem;
  letter-spacing: 0.19rem;
  color: #0c5f4c; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }

img {
  display: block; }

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

form input::placeholder,
form textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem; }

footer,
button {
  color: white; }

button {
  font-family: "Playfair Display SC", serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  background: #063974;
  border: none;
  padding: 10px 12px; }

header nav {
  padding-top: 4vh; }

header .flex-row {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

header h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 3.1rem;
  line-height: 2.9rem;
  letter-spacing: 0.335rem;
  color: #0c5f4c; }

header span {
  font-family: "Playfair Display SC", serif;
  font-size: 5.56rem;
  font-style: italic;
  font-weight: 700;
  color: #063974; }

.blog h1,
.contact h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 4.35rem;
  line-height: 2.9rem;
  letter-spacing: 0.45rem;
  color: white; }

header nav h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 1.73rem;
  font-style: italic;
  font-weight: 700;
  color: #50e3c2;
  line-height: 1.6rem; }

header nav ul {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem; }
  header nav ul .off-color {
    color: #50e3c2; }
  header nav ul li {
    display: inline-block;
    margin-right: 1.5rem;
    list-style: none;
    text-transform: uppercase;
    color: white; }

.form-wrapper {
  width: 55.75%;
  padding-left: 10%; }

fieldset #name,
fieldset #email,
fieldset textarea {
  margin-bottom: 5%; }

fieldset #name,
fieldset #email {
  border: none;
  border-bottom: 0.125rem solid #50e3c2;
  padding-bottom: 3.5%;
  padding-left: 3.5%; }

fieldset .visuallyhidden,
fieldset #name,
fieldset #email {
  width: 46%; }

fieldset textarea {
  width: 100%;
  border: none;
  border: 0.125rem solid #50e3c2;
  padding-top: 3.5%;
  padding-left: 3.5%;
  resize: none; }

fieldset button {
  width: 100%;
  margin-bottom: 10%; }

fieldset.flex-row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.index header .fullbleed {
  background: url(../../assets/home-image-1.jpg);
  background-size: cover; }

.index header .wrapper {
  position: relative; }

.index header h1 {
  padding-top: 36vh;
  padding-left: 25vw;
  position: relative;
  z-index: 10; }
  .index header h1 span {
    display: block;
    line-height: 5rem;
    text-transform: capitalize; }

.index header .img-wrap {
  position: absolute;
  top: 29%;
  width: 40%; }
  .index header .img-wrap img {
    min-width: 100%; }

footer {
  background: #2a2a2a; }
  footer p {
    padding: 0.5% 0; }

.visit {
  padding-top: 6%; }
  .visit .wrapper {
    padding: 7% 0; }
  .visit .text-wrapper {
    width: 60%; }
  .visit .flex-row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .visit p {
    margin-top: 1.5%;
    margin-bottom: 2%; }
  .visit .img-wrap {
    width: 21%; }
    .visit .img-wrap img {
      width: 100%;
      -webkit-box-shadow: -1rem 1rem #50e3c2;
      box-shadow: -1rem 1rem #50e3c2; }

.gallery .wrapper {
  padding: 7% 0; }

.gallery .galleryItem {
  width: calc((100% - 5%) / 3); }

.gallery .galleryItem:nth-child(2) {
  margin: 0 2.5%; }

.gallery img {
  width: 100%; }

.text-section .wrapper {
  padding: 7% 0; }

.text-section h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.9rem;
  letter-spacing: 0.16rem; }

.text-section i {
  background-color: #50e3c2;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
  padding: 1.5% 1%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 3%; }

.text-section .text-box {
  width: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .text-section .text-box p {
    width: 90.25%;
    -ms-flex-item-align: end;
    align-self: flex-end; }

.text-section .text-box:nth-child(2) p,
.text-section .text-box:nth-child(4) p {
  width: 89.75%; }

.text-section .text-box:nth-child(3) i {
  padding: 1.5% 1.75%; }

.text-section .text-box:nth-child(4) i {
  padding: 1.5% 1.5%; }

.text-section .text-box:nth-child(n + 3) {
  margin-top: 2%; }

.text-section .flex-row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.text-gallery h2 {
  color: #063974; }

.text-gallery .text-gallery-item {
  width: 40%; }

.text-gallery img {
  width: 100%; }

.text-gallery button {
  margin-top: 2%; }

.text-gallery .flex-row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .text-gallery .flex-row .text-wrap p {
    margin: 3% 0; }

.text-gallery .position-top {
  position: relative;
  bottom: 50px; }
  .text-gallery .position-top .img-wrap img {
    -webkit-box-shadow: 1.5rem 1.5rem 0 -0.5rem #50e3c2;
    box-shadow: 1.5rem 1.5rem 0 -0.5rem #50e3c2; }
  .text-gallery .position-top .text-wrap {
    padding-right: 12%;
    padding-top: 8%; }

.text-gallery .position-bottom {
  position: relative;
  top: 50px; }
  .text-gallery .position-bottom .img-wrap img {
    -webkit-box-shadow: -1.5rem 1.5rem 0 -0.5rem #50e3c2;
    box-shadow: -1.5rem 1.5rem 0 -0.5rem #50e3c2; }
  .text-gallery .position-bottom .text-wrap {
    padding-left: 12%;
    padding-top: 4%;
    text-align: right; }

.free-trip img {
  width: 100%; }

.free-trip .text-wrap {
  text-align: center;
  padding: 7% 0;
  width: 55%;
  margin: 0 auto; }
  .free-trip .text-wrap p {
    margin: 0.5% 0; }
  .free-trip .text-wrap button {
    margin-top: 1%; }

.blog .fullbleed {
  background: url(../../assets/blog-image-1.jpg);
  background-size: cover; }

.blog h1 {
  padding-top: 44vh; }

.blog .article-img {
  width: 55vw;
  margin-top: 3%; }
  .blog .article-img img {
    width: calc(100% - 1rem);
    -webkit-box-shadow: 2rem 2rem 0 -1rem #50e3c2;
    box-shadow: 2rem 2rem 0 -1rem #50e3c2; }

.blog .blog-section .flex-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blog .article-text {
  margin-top: 43%;
  padding: 7% 10% 6% 18%;
  border-right: 0.25rem solid #50e3c2;
  border-bottom: 0.25rem solid #50e3c2;
  width: 55vw; }
  .blog .article-text h3 {
    color: #063974;
    font-style: italic;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.45rem;
    letter-spacing: 0rem; }
  .blog .article-text span {
    font-weight: 700; }
  .blog .article-text p {
    margin: 4% 0; }
  .blog .article-text p:last-child {
    margin-bottom: 0; }

.blog aside {
  width: 20%;
  padding-top: 4.5%; }
  .blog aside h3 {
    color: #063974;
    margin: 5% 0; }
  .blog aside ul {
    padding-left: 1.5rem; }
  .blog aside li {
    color: #50e3c2;
    padding-left: 0.5rem; }
    .blog aside li span {
      color: black; }

.blog article .wrapper h2 {
  color: black;
  margin: 3% 0; }

.blog article .wrapper .flex-row {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .blog article .wrapper .flex-row .comment-text:nth-child(2) {
    margin-bottom: 4%; }

.blog .comment-text {
  width: 45%;
  margin-left: 2.5%; }
  .blog .comment-text h3 {
    color: #063974; }
  .blog .comment-text p {
    margin: 1% 0; }

.contact .fullbleed {
  background: url("../../assets/contact-image-1.jpg");
  background-size: cover; }

.contact header h1 {
  padding-top: 44vh; }

.contact main .flex-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .contact main .flex-row form {
    position: relative;
    bottom: 200px; }

.contact .form-wrapper {
  padding: 5% 5% 3% 5%;
  width: 100%;
  background: white;
  margin-left: 10%;
  -webkit-box-shadow: 1.5rem 1.5rem 0 -0.5rem #50e3c2;
  box-shadow: 1.5rem 1.5rem 0 -0.5rem #50e3c2; }

.contact button {
  margin-bottom: 0; }

.contact aside {
  width: 35%;
  padding-top: 4%; }

.contact aside ul:first-child li {
  padding-right: 2.5%; }

.contact aside p {
  font-weight: 700;
  margin-bottom: 0.5%; }

.contact aside ul {
  margin-bottom: 0.5%; }
  .contact aside ul li {
    list-style: none; }

.contact aside ul:nth-of-type(1) li {
  display: inline-block; }

.contact footer {
  margin-top: -50px; }

/*# sourceMappingURL=main.css.map */